@inject ILogger<Create> Logger
@inject ICatalogItemService CatalogItemService
@inject DialogService DialogService

@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.CatalogItemPage

<RadzenDialog Visible="@_showDialog" Width="700px" CloseDialog="@Close">
    <ChildContent>
        <DialogTitle>
            Create
        </DialogTitle>

        <DialogContent>
            @if (_item == null)
            {
                <RadzenProgressBar Mode="ProgressBarMode.Indeterminate"></RadzenProgressBar>
            }
            else
            {
                <div class="container mt-2">
                    <div class="row">
                        @if (HasPicture)
                        {
                            <img class="col-md-6 esh-picture" src="@LoadPicture" />
                        }
                        <div class="col-md-@(HasPicture ? "6" : "12")">
                            <div class="form-group">
                                <label>Name</label>
                                <InputText class="form-control" @bind-Value="_item.Name" />
                                <ValidationMessage For="(() => _item.Name)" />
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <InputText class="form-control" @bind-Value="_item.Description" />
                                <ValidationMessage For="(() => _item.Description)" />
                            </div>

                            <div class="form-group">
                                <label>Brand</label>
                                <InputSelect @bind-Value="_item.CatalogBrandId" class="form-control">
                                    @foreach (var brand in Brands)
                                    {
                                        <option value="@brand.Id">@brand.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="(() => _item.CatalogBrandId)" />
                            </div>

                            <div class="form-group">
                                <label>Type</label>
                                <InputSelect @bind-Value="_item.CatalogTypeId" class="form-control">
                                    @foreach (var type in Types)
                                    {
                                        <option value="@type.Id">@type.Name</option>
                                    }
                                </InputSelect>
                                <ValidationMessage For="(() => _item.CatalogTypeId)" />
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <InputNumber @bind-Value="_item.Price" class="form-control" />
                                <ValidationMessage For="(() => _item.Price)" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </DialogContent>

        <DialogActions>
            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" />
            <RadzenButton Text="Create" ButtonStyle="ButtonStyle.Primary" Click="@CreateClick" />
        </DialogActions>
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter] public IEnumerable<CatalogBrand> Brands { get; set; }
    [Parameter] public IEnumerable<CatalogType> Types { get; set; }
    [Parameter] public EventCallback<string> OnSaveClick { get; set; }

    private CreateCatalogItemRequest _item = new CreateCatalogItemRequest();
    private bool HasPicture => !string.IsNullOrEmpty(_item?.PictureBase64);
    private string LoadPicture => string.IsNullOrEmpty(_item.PictureBase64) ? string.Empty : $"data:image/png;base64, {_item.PictureBase64}";
    private bool _showDialog = false;

    public async Task Open()
    {
        Logger.LogInformation("Now loading... /Catalog/Create");

        _item = new CreateCatalogItemRequest
        {
            CatalogTypeId = Types.First().Id,
            CatalogBrandId = Brands.First().Id
        };

        _showDialog = true;
    }

    private async Task Close()
    {
        _showDialog = false;
    }

    private async Task CreateClick()
    {
        var result = await CatalogItemService.Create(_item);
        if (result != null)
        {
            await OnSaveClick.InvokeAsync(null);
            await Close();
        }
    }
}