@inject ILogger<Delete> Logger
@inject IJSRuntime JSRuntime
@inject ICatalogItemService CatalogItemService

@inherits BlazorAdmin.Helpers.BlazorComponent

@namespace BlazorAdmin.Pages.CatalogItemPage

<RadzenDialog @bind-Visible="_showDeleteModal" Width="700px">
    <ChildContent>
        <div class="p-3">
            <h5>Delete @_item?.Name</h5>

            @if (_item == null)
            {
                <RadzenProgressBar Mode="ProgressBarMode.Indeterminate"></RadzenProgressBar>
            }
            else
            {
                <div class="row mt-3">
                    @if (HasPicture)
                    {
                        <img class="col-md-6 esh-picture" src="@_item.PictureUri" />
                    }
                    <dl class="col-md-@(HasPicture ? "6" : "12") dl-horizontal">
                        <dt>Name</dt>
                        <dd>@_item.Name</dd>

                        <dt>Description</dt>
                        <dd>@_item.Description</dd>

                        <dt>Brand</dt>
                        <dd>@_item.CatalogBrand</dd>

                        <dt>Type</dt>
                        <dd>@_item.CatalogType</dd>

                        <dt>Price</dt>
                        <dd>@_item.Price</dd>
                    </dl>
                </div>
            }

            <div class="mt-4 text-right">
                <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" Style="margin-right:10px;" />
                <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteClick(_item.Id))" />
            </div>
        </div>
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter] public IEnumerable<CatalogBrand> Brands { get; set; }
    [Parameter] public IEnumerable<CatalogType> Types { get; set; }
    [Parameter] public EventCallback<string> OnSaveClick { get; set; }

    private bool HasPicture => !string.IsNullOrEmpty(_item?.PictureUri);
    private bool _showDeleteModal = false;
    private CatalogItem _item = new CatalogItem();

    private async Task DeleteClick(int id)
    {
        await CatalogItemService.Delete(id);
        await OnSaveClick.InvokeAsync(null);
        await Close();
    }

    public async Task Open(int id)
    {
        Logger.LogInformation("Now loading... /Catalog/Delete/{Id}", id);
        await new Css(JSRuntime).HideBodyOverflow();
        _item = await CatalogItemService.GetById(id);
        _showDeleteModal = true;
        StateHasChanged();
    }

    private async Task Close()
    {
        await new Css(JSRuntime).ShowBodyOverflow();
        _showDeleteModal = false;
    }
}