@inject ILogger<Details> Logger
@inject IJSRuntime JSRuntime
@inject ICatalogItemService CatalogItemService

@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.CatalogItemPage

@using Radzen
@using Radzen.Blazor

<RadzenDialog Visible="@_showDetailsModal" Width="700px" CloseDialog="@Close">
    <DialogTitle>Details @_item?.Name</DialogTitle>
    <DialogContent>
        @if (_item == null)
        {
            <RadzenProgressBar Mode="ProgressBarMode.Indeterminate"></RadzenProgressBar>
        }
        else
        {
            <div class="container">
                <div class="row">
                    @if (HasPicture)
                    {
                        <img class="col-md-6 esh-picture" src="@_item.PictureUri" />
                    }
                    <dl class="col-md-@(HasPicture ? "6" : "12") dl-horizontal">
                        <dt>Name</dt>
                        <dd>@_item.Name</dd>

                        <dt>Description</dt>
                        <dd>@_item.Description</dd>

                        <dt>Brand</dt>
                        <dd>@_item.CatalogBrand</dd>

                        <dt>Type</dt>
                        <dd>@_item.CatalogType</dd>

                        <dt>Price</dt>
                        <dd>@_item.Price</dd>
                    </dl>
                </div>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary" Click="@Close" />
        <RadzenButton Text="Edit" ButtonStyle="ButtonStyle.Primary" Click="@EditClick" />
    </DialogActions>
</RadzenDialog>

@code {
    [Parameter] public IEnumerable<CatalogBrand> Brands { get; set; }
    [Parameter] public IEnumerable<CatalogType> Types { get; set; }
    [Parameter] public EventCallback<int> OnEditClick { get; set; }

    private CatalogItem _item = new CatalogItem();
    private bool HasPicture => !string.IsNullOrEmpty(_item?.PictureUri);
    private bool _showDetailsModal = false;

    public async Task EditClick()
    {
        await OnEditClick.InvokeAsync(_item.Id);
        await Close();
    }

    public async Task Open(int id)
    {
        Logger.LogInformation("Now loading... /Catalog/Details/{Id}", id);
        _item = await CatalogItemService.GetById(id);
        _showDetailsModal = true;
        StateHasChanged();
    }

    public Task Close()
    {
        _showDetailsModal = false;
        return Task.CompletedTask;
    }
}
