@page "/admin"
@attribute [Authorize(Roles = BlazorShared.Authorization.Constants.RoleCombinations.ADMIN_PORTAL_ROLES)]
@inject DialogService DialogService
@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.CatalogItemPage

<PageTitle>eShopOnWeb Admin: Manage Product Catalog</PageTitle>

<h1>Manage Product Catalog</h1>

@if (catalogItems == null)
{
    <RadzenProgressBarCircular Style="margin:auto; display:block;"></RadzenProgressBarCircular>
}
else
{
    <RadzenButton Text="Create New" Style="margin-bottom:10px" Click="@(() => CreateComponent.Open())" />

    <RadzenDataGrid @ref="catalogGrid" Data="@catalogItems" TItem="CatalogItem" RowSelect="@(item => DetailsComponent.Open(item.Id))" 
                    ColumnWidth="200px" ShowPagingSummary="true" PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="CatalogItem" Width="70px">
                <Template Context="item">
                    <img src="@item.PictureUri" class="img-thumbnail" style="max-width:50px;" />
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="CatalogItem" Property="CatalogType" Title="Item Type" />
            <RadzenDataGridColumn TItem="CatalogItem" Property="CatalogBrand" Title="Brand" />
            <RadzenDataGridColumn TItem="CatalogItem" Property="Id" Title="Id" />
            <RadzenDataGridColumn TItem="CatalogItem" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="CatalogItem" Property="Description" Title="Description" />
            <RadzenDataGridColumn TItem="CatalogItem" Property="Price" Title="Price" />

            <RadzenDataGridColumn TItem="CatalogItem" Title="Actions">
                <Template Context="item">
                    <RadzenButton Text="Edit" ButtonStyle="ButtonStyle.Primary" Click="@(() => EditComponent.Open(item.Id))" Style="margin-right:5px;" />
                    <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteComponent.Open(item.Id))" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

    <Details Brands="@catalogBrands" Types="@catalogTypes" OnEditClick="EditClick" @ref="DetailsComponent"></Details>
    <Edit Brands="@catalogBrands" Types="@catalogTypes" OnSaveClick="ReloadCatalogItems" @ref="EditComponent"></Edit>
    <Create Brands="@catalogBrands" Types="@catalogTypes" OnSaveClick="ReloadCatalogItems" @ref="CreateComponent"></Create>
    <Delete Brands="@catalogBrands" Types="@catalogTypes" OnSaveClick="ReloadCatalogItems" @ref="DeleteComponent"></Delete>
}

@code {
    private RadzenDataGrid<CatalogItem> catalogGrid;
}
