@using BlazorAdmin.Interfaces
@using BlazorAdmin.Models
@using Microsoft.AspNetCore.Identity
@inject ILogger<Create> Logger
@inject IJSRuntime JSRuntime
@inject IUserManagementService UserManagementService
@inject IRoleManagementService RoleManagementService

@namespace BlazorAdmin.Pages.UserPage

<RadzenDialog Visible="@_showCreateModal" Style="width:600px" Modal="true" Close="@Close">
    <ChildContent>
        @if (_item == null)
        {
            <Spinner></Spinner>
        }
        else
        {
            <EditForm Model="_item.User" OnValidSubmit="@CreateClick">
                <DataAnnotationsValidator />
                <RadzenCard Style="padding:20px">
                    <RadzenHeading Size="H4">Create User</RadzenHeading>
                    
                    <RadzenFieldset Text="User Information" Style="margin-bottom:15px">
                        <RadzenTextBox @bind-Value="_item.User.UserName" Name="UserName" Placeholder="Username" Style="width:100%" />
                        <ValidationMessage For="@(() => _item.User.UserName)" class="text-danger" />

                        <RadzenTextBox @bind-Value="_item.User.Email" Name="Email" Placeholder="Email" Style="width:100%" />
                        <ValidationMessage For="@(() => _item.User.Email)" class="text-danger" />

                        <RadzenTextBox @bind-Value="_item.User.PhoneNumber" Name="PhoneNumber" Placeholder="Phone Number" Style="width:100%" />
                        <ValidationMessage For="@(() => _item.User.PhoneNumber)" class="text-danger" />

                        <RadzenCheckBox @bind-Value="_item.User.EmailConfirmed" Style="margin-right:5px" /> Email Confirmed
                        <RadzenCheckBox @bind-Value="_item.User.TwoFactorEnabled" Style="margin-right:5px" /> Two-Factor Authentication Enabled

                        <RadzenDatePicker @bind-Value="_item.User.LockoutEnd" Name="LockoutEnd" Style="width:100%" />
                        <ValidationMessage For="@(() => _item.User.LockoutEnd)" class="text-danger" />
                    </RadzenFieldset>

                    <RadzenFieldset Text="Roles">
                        @if (_roles == null || _roles.Count == 0)
                        {
                            <p>No roles available.</p>
                        }
                        else
                        {
                            @foreach (var role in _roles)
                            {
                                <RadzenCheckBox @bind-Value="_selectedRoles[role.Name]" TValue="bool" Style="margin-right:5px" Change="@(args => UpdateRoleSelectedState(role.Name, args))" />
                                <label>@role.Name</label><br />
                            }
                        }
                    </RadzenFieldset>

                    <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" Style="margin-right:5px" />
                    <RadzenButton Text="Create" ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" />
                </RadzenCard>
            </EditForm>
        }
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter]
    public EventCallback<string> OnSaveClick { get; set; }

    private bool _showCreateModal = false;
    private CreateUserRequest _item;
    private Dictionary<string, bool> _selectedRoles = new();
    private List<IdentityRole> _roles;

    private async Task CreateClick()
    {
        if (_item.User != null)
        {
            var result = await UserManagementService.Create(_item);
            var checkedRoles = _selectedRoles.Where(r => r.Value).Select(r => r.Key).ToList();
            if (checkedRoles.Count > 0){
                var rolesForUserRequest = new SaveRolesForUserRequest(){
                    UserId = result.UserId,
                    RolesToAdd = checkedRoles
                };
                await UserManagementService.SaveRolesForUser(rolesForUserRequest);
            }
            if (result != null)
            {
                Logger.LogInformation("Created User {userId}", result.UserId);
                await OnSaveClick.InvokeAsync(null);
                await Close();
            }
        }
    }

    public async Task Open()
    {
        Logger.LogInformation("Now loading... /Users/Create");
        await new Css(JSRuntime).HideBodyOverflow();

        _item = new CreateUserRequest();
        _roles = (await RoleManagementService.List()).Roles;
        _selectedRoles = _roles.ToDictionary(r => r.Name, r => false);

        _showCreateModal = true;
        StateHasChanged();
    }

    private void UpdateRoleSelectedState(string role, bool isChecked)
    {
        _selectedRoles[role] = isChecked;
    }

    private async Task Close()
    {
        await new Css(JSRuntime).ShowBodyOverflow();
        _showCreateModal = false;
    }
}