@using BlazorAdmin.Interfaces
@using BlazorAdmin.Models
@inject ILogger<Delete> Logger
@inject IJSRuntime JSRuntime
@inject IUserManagementService UserManagementService

@inherits BlazorAdmin.Helpers.BlazorComponent
@namespace BlazorAdmin.Pages.UserPage

<RadzenDialog Visible="@_showDeleteModal" Style="width:500px" Modal="true" Close="@Close">
    <ChildContent>
        @if (string.IsNullOrEmpty(_userId) || string.IsNullOrEmpty(_userName))
        {
            <Spinner></Spinner>
        }
        else
        {
            <RadzenCard Style="padding:20px">
                <RadzenHeading Size="H4">Delete User: @_userName</RadzenHeading>
                <p>
                    Are you sure you want to <strong class="text-danger">DELETE</strong> this user: <strong>@_userName</strong>?
                </p>

                <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" Style="margin-right:5px" />
                <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteClick(_userId))" />
            </RadzenCard>
        }
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter]
    public EventCallback<string> OnSaveClick { get; set; }

    private bool _showDeleteModal = false;
    private string _userId = "";
    private string _userName = "";

    private async Task DeleteClick(string id)
    {        
        await UserManagementService.Delete(id);

        Logger.LogInformation("Deleted user Id: {id}", id);
        await OnSaveClick.InvokeAsync(null);
        await Close();
    }

    public async Task Open(string id, string userName)
    {
        await new Css(JSRuntime).HideBodyOverflow();

        _userId = id;
        _userName = userName;

        _showDeleteModal = true;
        StateHasChanged();
    }

    private async Task Close()
    {
        await new Css(JSRuntime).ShowBodyOverflow();
        _showDeleteModal = false;
    }
}