@using BlazorAdmin.Interfaces
@using BlazorAdmin.Models
@inject ILogger<Delete> Logger
@inject IRoleManagementService RoleManagementService
@inject DialogService DialogService

@namespace BlazorAdmin.Pages.RolePage

<RadzenDialog Visible="@_showDialog" Width="500px" CloseDialog="@Close">
    <ChildContent>
        <DialogTitle>
            Delete Role
        </DialogTitle>

        <DialogContent>
            @if (_item is null || _item.Role is null)
            {
                <RadzenProgressBar Mode="ProgressBarMode.Indeterminate"></RadzenProgressBar>
            }
            else
            {
                <p>
                    Are you sure you want to <strong class="text-danger">DELETE</strong> the <strong>@_item.Role.Name</strong> role?
                </p>
            }
        </DialogContent>

        <DialogActions>
            <RadzenButton Text="Cancel" ButtonStyle="ButtonStyle.Secondary" Click="@Close" />
            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteClick(_item.Role.Id))" />
        </DialogActions>
    </ChildContent>
</RadzenDialog>

@code {
    [Parameter] public EventCallback<string> OnSaveClick { get; set; }

    private GetByIdRoleResponse _item = new GetByIdRoleResponse();
    private bool _showDialog = false;

    public async Task Open(string id)
    {
        _item = await RoleManagementService.GetById(id);
        Logger.LogInformation("Loaded role: {id}", id);
        _showDialog = true;
    }

    private async Task Close()
    {
        _showDialog = false;
    }

    private async Task DeleteClick(string id)
    {
        await RoleManagementService.Delete(id);
        Logger.LogInformation("Deleted Role Id: {id}", id);
        await OnSaveClick.InvokeAsync(null);
        await Close();
    }
}